# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt
*.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/workspace.xml
apache_poi/src/main/resources/
apache_poi/src/test/
apache_poi/target/generated-sources/
echarts/target/echarts/META-INF/
echarts/target/echarts/WEB-INF/classes/
echarts/target/echarts/WEB-INF/web.xml
echarts/target/echarts/index.jsp
echarts/target/maven-archiver/
health_common/src/main/resources/
health_common/src/test/
health_common/target/generated-sources/
health_common/target/maven-archiver/
health_common/target/maven-status/
health_interface/src/main/resources/
health_interface/src/test/
health_interface/target/generated-sources/
health_interface/target/maven-archiver/
health_interface/target/maven-status/
health_manager/target/classes/log4j.properties
health_manager/target/classes/redis.properties
health_manager/target/classes/spring-redis.xml
health_manager/target/classes/springmvc.xml
health_manager/target/generated-sources/
health_manager/target/health_manager-1.0-SNAPSHOT/META-INF/
health_manager/target/health_manager-1.0-SNAPSHOT/WEB-INF/classes/log4j.properties
health_manager/target/health_manager-1.0-SNAPSHOT/WEB-INF/classes/redis.properties
health_manager/target/health_manager-1.0-SNAPSHOT/WEB-INF/classes/spring-redis.xml
health_manager/target/health_manager-1.0-SNAPSHOT/WEB-INF/classes/springmvc.xml
health_manager/target/health_manager-1.0-SNAPSHOT/WEB-INF/web.xml
health_manager/target/health_manager-1.0-SNAPSHOT/css/
health_manager/target/health_manager-1.0-SNAPSHOT/img/
health_manager/target/health_manager-1.0-SNAPSHOT/js/
health_manager/target/health_manager-1.0-SNAPSHOT/pages/
health_manager/target/health_manager-1.0-SNAPSHOT/plugins/
health_manager/target/health_manager-1.0-SNAPSHOT/template/
health_manager/target/maven-archiver/
health_manager/target/maven-status/
health_potal/target/classes/log4j.properties
health_potal/target/classes/redis.properties
health_potal/target/classes/spring-redis.xml
health_potal/target/classes/springmvc.xml
health_potal/target/generated-sources/
health_potal/target/health_potal-1.0-SNAPSHOT/META-INF/
health_potal/target/health_potal-1.0-SNAPSHOT/WEB-INF/classes/log4j.properties
health_potal/target/health_potal-1.0-SNAPSHOT/WEB-INF/classes/redis.properties
health_potal/target/health_potal-1.0-SNAPSHOT/WEB-INF/classes/spring-redis.xml
health_potal/target/health_potal-1.0-SNAPSHOT/WEB-INF/classes/springmvc.xml
health_potal/target/health_potal-1.0-SNAPSHOT/WEB-INF/web.xml
health_potal/target/health_potal-1.0-SNAPSHOT/css/
health_potal/target/health_potal-1.0-SNAPSHOT/fonts/
health_potal/target/health_potal-1.0-SNAPSHOT/img/
health_potal/target/health_potal-1.0-SNAPSHOT/pages/
health_potal/target/health_potal-1.0-SNAPSHOT/plugins/
health_potal/target/maven-archiver/
health_potal/target/maven-status/
health_service/target/classes/SqlMapConfig.xml
health_service/target/classes/com/lihao/mapper/CheckGroupMapper.xml
health_service/target/classes/com/lihao/mapper/CheckitemMapper.xml
health_service/target/classes/com/lihao/mapper/MemberMapper.xml
health_service/target/classes/com/lihao/mapper/OrderSettingMapper.xml
health_service/target/classes/com/lihao/mapper/SetmealMapper.xml
health_service/target/classes/log4j.properties
health_service/target/classes/redis.properties
health_service/target/classes/spring-dao.xml
health_service/target/classes/spring-redis.xml
health_service/target/classes/spring-service.xml
health_service/target/classes/spring-tx.xml
health_service/target/generated-sources/
health_service/target/health_service-1.0-SNAPSHOT/META-INF/
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/SqlMapConfig.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/com/lihao/mapper/CheckGroupMapper.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/com/lihao/mapper/CheckitemMapper.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/com/lihao/mapper/MemberMapper.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/com/lihao/mapper/OrderSettingMapper.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/com/lihao/mapper/SetmealMapper.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/log4j.properties
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/redis.properties
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/spring-dao.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/spring-redis.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/spring-service.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/classes/spring-tx.xml
health_service/target/health_service-1.0-SNAPSHOT/WEB-INF/web.xml
health_service/target/health_service-1.0-SNAPSHOT/index.jsp
health_service/target/maven-archiver/
health_service/target/maven-status/
java_offer/src/main/resources/
java_offer/src/test/
java_offer/target/generated-sources/
quartzdemo/src/test/
quartzdemo/target/classes/spring-jobs.xml
quartzdemo/target/generated-sources/
springsecurity/target/classes/META-INF/
springsecurity/target/classes/spring-security.xml
springsecurity/target/generated-sources/
springsecurity/target/maven-archiver/
springsecurity/target/maven-status/
springsecurity/target/springsecurity/META-INF/
springsecurity/target/springsecurity/WEB-INF/classes/META-INF/
springsecurity/target/springsecurity/WEB-INF/classes/com/lihao/controller/
springsecurity/target/springsecurity/WEB-INF/classes/spring-security.xml
springsecurity/target/springsecurity/WEB-INF/web.xml
springsecurity/target/springsecurity/index.html
springsecurity/target/springsecurity/login.html
springsecurity/target/springsecurity/pages/
vue_demo/target/classes/applicationContext.xml
vue_demo/target/classes/db.properties
vue_demo/target/classes/springmvc.xml
vue_demo/target/generated-sources/
vue_demo/target/maven-archiver/
vue_demo/target/maven-status/
vue_demo/target/vue_demo-1.0-SNAPSHOT/01-container.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/02-dropdown.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/03-navmenu.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/04-table.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/05-pagination.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/06-message.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/07-tabs.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/08-form.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/META-INF/
vue_demo/target/vue_demo-1.0-SNAPSHOT/WEB-INF/classes/applicationContext.xml
vue_demo/target/vue_demo-1.0-SNAPSHOT/WEB-INF/classes/db.properties
vue_demo/target/vue_demo-1.0-SNAPSHOT/WEB-INF/classes/springmvc.xml
vue_demo/target/vue_demo-1.0-SNAPSHOT/WEB-INF/web.xml
Wo
uld remove vue_demo/target/vue_demo-1.0-SNAPSHOT/css/
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo1.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo10.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo11.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo12.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo13.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo14.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo2.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo3.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo4.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo5.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo6.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo7.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo8.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/demo9.html
vue_demo/target/vue_demo-1.0-SNAPSHOT/img/
vue_demo/target/vue_demo-1.0-SNAPSHOT/js/
vue_demo/target/vue_demo-1.0-SNAPSHOT/plugins/
vue_demo/target/vue_demo-1.0-SNAPSHOT/user.html
